{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
	<h1>Oświetlenie</h1>
	<p>System przetwarzania danych oświetlenia ulicznego</p>
</div>
<div class="row">
	<div class="span12">
		<h3>Wgraj plik CSV</h3>
		<form enctype="multipart/form-data" method="post" class="form-inline well" action="/csv/upload">
			<fieldset>
				<input name="csvfile" type="file">
				<button type="submit" class="btn btn-primary">
					<i class="icon-upload icon-white"></i> Wgraj
				</button>
			</fieldset>
		</form>
	</div>
    <div class="span12">
        <h3>Zbadaj problemy istniejące w bazie</h3>
        <ul>
            {% if problemids is defined %}
                {% for id in problemids %}
                <li><a href="{{ url_for('problem_show', problemid=id) }}">
                    problem z ID {{ id }}
                </a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
</div>
{% endblock %}
